body{
    background-color : black;
    font-family : 'Montserrat';
}
.sidebar{
    background: linear-gradient(0deg, rgba(255,0,0,0) 0%, rgba(237,0,41,0.37298669467787116) 44%, rgba(141,0,255,1) 100%);
    top: 0;
    height: 100vh;
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    width : 60px;
}
.content{
    height : 200px;
    margin-left : 80px;
    color:white!important;
    margin-top : 60px;
}
.sidebar .navbar-nav .nav{
    color : white;
    margin-top : 10px;
}
.navbar.u{
    background-color : black;
    margin-left : 60px;
}
.io{
    height : 150px;
    background : none;
    border : solid #a600ff 1px;
    border-radius : 0;
    margin-top : 20px;
}
.io.yellow{
    border : solid #ff8400 1px;
}
.big{
    font-size : 40pt;
}
.ready{
    color : #08c758;
}
.unready{
    color : #d40000;
}